<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsw.daos.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.zsw.entitys.CustomerEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="mnemonic_code" property="mnemonicCode" jdbcType="VARCHAR" />
    <result column="crm_object_type_ids" property="crmObjectTypeIds" jdbcType="VARCHAR" />
    <result column="contract_scan_files" property="contractScanFiles" jdbcType="VARCHAR" />
    <result column="contract_period_of_validity" property="contractPeriodOfValidity" jdbcType="DATE" />
    <result column="contract_total_amount" property="contractTotalAmount" jdbcType="DECIMAL" />
    <result column="reimbursement_cost_item" property="reimbursementCostItem" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="is_audited" property="isAudited" jdbcType="INTEGER" />
    <result column="auditor" property="auditor" jdbcType="INTEGER" />
    <result column="audited_at" property="auditedAt" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
  </resultMap>

  <select id="listCustomerEntity" resultMap="BaseResultMap">

    SELECT c.*
    FROM customer c

    <if test="paramMap.customerName != null and paramMap.customerName != ''">
      AND c.`name` LIKE '%${paramMap.customerName}%'
    </if>
    <if test="paramMap.mnemonicCode != null and paramMap.mnemonicCode != ''">
      AND c.mnemonic_code LIKE '${paramMap.mnemonicCode}%'
    </if>
    <if test="paramMap.status != null and paramMap.status >= 0">
      AND c.`status` = #{paramMap.status}
    </if>
    <if test="paramMap.beginCreateTime !=null">
      AND c.create_time >= Date(#{paramMap.beginCreateTime})
    </if>
    <if test="paramMap.endCreateTime !=null">
      <![CDATA[ AND c.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
    </if>

    GROUP BY c.id

    <if test="paramMap.start !=null and paramMap.start >= 0
         and paramMap.pageSize !=null and paramMap.pageSize > 0">
      LIMIT ${paramMap.start} , ${paramMap.pageSize}
    </if>
  </select>

  <select id="listCustomerEntityCount" resultType="Integer">

    SELECT
    COUNT(DISTINCT c.id)
    FROM customer c
    <if test="paramMap.customerName != null and paramMap.customerName != ''">
      AND c.`name` LIKE '%${paramMap.customerName}%'
    </if>
    <if test="paramMap.mnemonicCode != null and paramMap.mnemonicCode != ''">
      AND c.mnemonic_code LIKE '${paramMap.mnemonicCode}%'
    </if>
    <if test="paramMap.status != null and paramMap.status >= 0">
      AND c.`status` = #{paramMap.status}
    </if>
    <if test="paramMap.beginCreateTime !=null">
      AND c.create_time >= Date(#{paramMap.beginCreateTime})
    </if>
    <if test="paramMap.endCreateTime !=null">
      <![CDATA[ AND c.create_time <=  Date(#{paramMap.endCreateTime}) ]]>
    </if>
  </select>

  <update id="batchBan" parameterType="Map">

    UPDATE customer c
    SET c.update_time = CURRENT_DATE
    <if test="paramMap.currentUserId != null and paramMap.currentUserId >= 0">
      , c.update_user = #{paramMap.currentUserId}
    </if>
    <if test="paramMap.status != null and paramMap.status >= 0">
      , c.`status` = #{paramMap.status}
    </if>

    WHERE 1 = 1
    <if test="paramMap.ids !=null ">
      AND c.id IN
      <foreach item="item" collection="paramMap.ids" separator="," open="(" close=")" index="">
        #{item, jdbcType=NUMERIC}
      </foreach>
    </if>

  </update>
  
  
  
  
</mapper>